body {
    color: rgb(135, 91, 20);
    background-color: rgb(223, 202, 205) (255, 255, 255);
    background-color: rgb(108, 97, 86) (255, 255, 255);
}
.tag {
    font-family: "Monaco", monospace; 
    font-size: 1rem;
   }  
.jumbotron {
    background-image: url("../Resources/background.png");
    background-size: 100% 100%;
    text-align: center;
    background-color: white 
  }