body {
    color: rgb(242, 204, 144);
    background-color: rgb(223, 202, 205) (255, 255, 255);
    background-color: rgb(108, 97, 86) (255, 255, 255);
}
.tag {
    font-family: "Brush Script", monospace; 
    font-size: 2rem;
   }  
.jumbotron {
    background-image: url("../Resources/background.png");
    background-size: 100% 100%;
    text-align: center;
    background-color: rgb(84, 60, 60) 
  }